:root {
    --cultured: #EDEDED;
    --electricViolet: #9601FF;
    --richBlack: #070707;
    --internOrange: #F24C00;
}

* {
    margin: auto;
    background-color: var(--cultured);
    font-family: 'Source Code Pro', monospace;
}

header {
    /* animation: slide 3s; */
    background: linear-gradient(to right, #F24C00 50%, #EDEDED 50%);
    height: auto;
    /* height: 49.3rem; */
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: transparent;
    font-family: 'Source Code Pro', monospace;
    font-size: 10rem;
    text-align: center;
    
}

.scroll, i, .vertical-tag {
    background-color: transparent;
    font-size: 0.9rem;
    font-family: 'Source Code Pro', monospace;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.vertical-tag {
    margin-left: 1em;
    letter-spacing: 0.6em;
    background-color: transparent;
    color: #A33400;
}

.horizontal-tag {
    font-size: 0.9rem;
    background-color: transparent;
    letter-spacing: 0.6em;
    color: #A33400;
}

/* Dropdown */
.dropdown {
    position: relative;    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

.dropdown ul {
    width: 13rem;
    position: absolute;
    margin-top: 2em;
    list-style: none;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.dropdown a {
    color: black;
    text-decoration: none;
}

.dropdown li {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown li:hover {
    background-color: var(--electricViolet);
}

.dropdown button {
    background: none;
    border: none;
    cursor: pointer;

}



.dropdown button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

/* .drop-btn {
    background-color: #3498DB;
    color: whitesmoke;
    cursor: pointer;
    border: none;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
} */

/* 
@keyframes slide {
    0% {
        transform: linear-gradient(to right, #F24C00 50%, #EDEDED 50%);
    }
    100% {
        transform: linear-gradient(to right, #F24C00 100%, #EDEDED 0%);
    }
    0% {
        background: linear-gradient(to right, #F24C00 50%, #EDEDED 50%);
    }
    25% {
        background: linear-gradient(to right, #F24C00 62.5%, #EDEDED 37.5%);
    }
    50% {
        background: linear-gradient(to right, #F24C00 75%, #EDEDED 25%);
    }
    75% {
        background: linear-gradient(to right, #F24C00 87.5%, #EDEDED 12.5%);
    }
    100% {
        background: linear-gradient(to right, #F24C00 100%, #EDEDED 0%);
    }
} */
