:root {
    --cultured: #EDEDED;
    --electricViolet: #9601FF;
    --richBlack: #070707;
    --internOrange: #F24C00;
}

* {
    margin: auto;
    background-color: var(--cultured);
    font-family: 'Source Code Pro', monospace;
}

header {
    /* animation: slide 3s; */
    background: linear-gradient(to right, #F24C00 50%, #EDEDED 50%);
    height: auto;
    height: 49.3em;
    display: flex;
    flex-direction: column;
}

/* Titles & Headers */
h1 {
    background-color: transparent;
    font-family: 'Source Code Pro', monospace;
    font-size: 10rem;
    text-align: center;
    text-shadow: 0px 16px 40px rgba(0,0,0,.15);
}

h3 {
    color: #333333;
}

/* Tags */
.scroll, i, .vertical-tag {
    background-color: transparent;
    font-size: 0.9rem;
    font-family: 'Source Code Pro', monospace;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.vertical-tag {
    margin-left: 0.8em;
    letter-spacing: 0.6em;
    background-color: transparent;
    color: #A33400;
}

.horizontal-tag {
    font-size: 0.9rem;
    background-color: transparent;
    letter-spacing: 0.6em;
    color: #A33400;
    margin-top: 0.8em;
}

.contTag, .image-tag, .heading-tag {
    color: #C2C2C2;
}

.heading-tag {
    margin-left: 1em;
}

.skills-tag {
    margin: 0 0 1em 29em;
}

.image-tag {
    margin-top: 2em;
}

/* Dropdown Menu*/
.dropdown {
    position: relative;    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all 0.5s ease-in-out;
}

.dropdown ul {
    width: 13rem;
    position: absolute;
    margin-top: 2em;
    list-style: none;
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.dropdown a {
    color: black;
    text-decoration: none;
}

.dropdown li {
    padding: 0.5em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown li:hover {
    background-color: var(--electricViolet);
}

.dropdown button {
    background: none;
    border: none;
    cursor: pointer;

}

.dropdown button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

/* About Section */
.about {
    background-color: royalblue;
}

.aboutText {
    margin-left: 2em;
    font-size: 2em;
}

.aboutColumns {
    height: 43.7em;
    display: flex;
}

.name {
    color: var(--internOrange);
}

.profilePic {
    width: 65%;
    border-radius: 50px;
    box-shadow: 0px 16px 40px rgba(0,0,0,.15);
}

.column {
    width: 50%;
}


/* Skills Section */
.skills {
    margin: 2em;
}

i {
    font-size: 2.6em;
}

svg {
    width: 2.6em;
}

.skills-col {
    display: flex;
    justify-content: space-between;
}

/* Projects Section */
#projects {
    height: 75rem;
    margin-top: 2em;
}

.title-heading {
    margin-left: 1.5em;
}

.projects-col {
    height: 30em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border-radius: 20px;
    width: 27%;
    height: 32rem;
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 16px 40px rgba(0,0,0,.15);
}

.project-title {
    margin-bottom: 0.5em;
}

.project-paragraph {
    margin: 0.8em 0 0.5em 0;                                                                
}

.projectImg {
    width: 100%;
    height: 12em;
    border-radius: 20px;
    box-shadow: 0px 16px 40px rgba(0,0,0,.15);
}

.languages {
    display: flex;
    padding: 1em;
}

.links {
    font-size: 0.8em;
    text-decoration: underline;
    color: lightskyblue;
    margin-right: 2em;
}

.links:hover {
    color: var(--internOrange);
}

.deploy-links {
    text-decoration: none;
}

button {
    margin-top: 3em;
    background-color: var(--cultured);
    color: var(--internOrange);
    border: none;
    padding: 14px 20px;
    border-radius: 18px;
    width: 80%;
    display: block;
    cursor: pointer;
    transition: all .25s ease;
    text-decoration: none;
}

button:hover {
    background-color: var(--internOrange);
    color: var(--cultured);
    box-shadow: 0px 16px 40px rgba(0,0,0,.15);
}

/* Footer */
#contact {
    height: 23rem;
    display: flex;
    background-color: #17183B;
}

.footer-col {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-right: 1px solid var(--cultured);
}

.skills-column {
    display: flex;
    align-content: flex-start;
    background: #17183B;
    width: 80%;
}

.footer-skills {
    padding: 1em;
}

.contact-icon {
    font-size: 2em;
    margin-right: 0.8em;
}
.contact-icon:hover {
    color: var(--internOrange);
    font-size: 2.3em;
}

.footer-icons, .a-icons {
    background: #17183B;
}

.skills-text, .footer-skills, .footer-contact, .contact-icon {
    background: #17183B;
    color: var(--cultured);
}

.skills-text {
    padding: 0.2em;
}

.column3 {
    display: flex; 
    flex-direction: column; 
    color: var(--internOrange); 
}

.footer-contact {
    margin-bottom: 1em;
}


/* 
@keyframes slide {
    0% {
        transform: linear-gradient(to right, #F24C00 50%, #EDEDED 50%);
    }
    100% {
        transform: linear-gradient(to right, #F24C00 100%, #EDEDED 0%);
    }
    0% {
        background: linear-gradient(to right, #F24C00 50%, #EDEDED 50%);
    }
    25% {
        background: linear-gradient(to right, #F24C00 62.5%, #EDEDED 37.5%);
    }
    50% {
        background: linear-gradient(to right, #F24C00 75%, #EDEDED 25%);
    }
    75% {
        background: linear-gradient(to right, #F24C00 87.5%, #EDEDED 12.5%);
    }
    100% {
        background: linear-gradient(to right, #F24C00 100%, #EDEDED 0%);
    }
} */
